:root {
  --c-background: #191919;
  --c-border: #2b2b2b;
  --c-selected: #333;

  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;

  --cover-font-size: 1.25em;
  --cover-size: 192px;
  --grid-gap: 12px;
  --max-columns: 7;
  --transition: 150ms;
}

* {
  box-sizing: border-box;
  font-weight: normal;
  scroll-behavior: smooth;
}

body {
  background-color: var(--c-background);
  color: #fff;
  font-family: 'Roboto', Verdana, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

a {
  color: #dfa071;
  display: inline-block;
  text-decoration: none;
  transition: var(--transition);
}
a:hover {
  filter: brightness(1.15);
}

.main {
  display: flex;
  height: 100vh;
  margin: 0 auto;
}

.sidebar,
.main-contents {
  padding: 0 var(--spacing-m);
}

.sidebar h4:first-child,
.main-contents .platform:first-child h3 {
  margin-top: 0;
}

.sidebar {
  overflow-y: auto;
  width: 192px;
  margin: var(--spacing-m) 0;
}

.sidebar h4:first-child {
  margin: var(--spacing-s) 0 var(--spacing-m);
}

.main-contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}

.sidebar {
  border: solid var(--c-border);
  border-width: 0 1px;
}

hr {
  border: solid var(--c-selected);
  border-width: 1px 0 0;
}

ul.no-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.secondary {
  opacity: 0.67;
}

.tertiary {
  opacity: 0.2;
}

.platform-label {
  padding: var(--spacing-s) 0 2px;
}

/* Scrollbar */
::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece {
  background: var(--c-background) !important;
}

::-webkit-scrollbar {
  width: var(--spacing-m) !important;
  height: var(--spacing-m) !important;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border: 3px solid var(--c-background) !important;
  border-radius: 8px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
