:root {
  --c-bg: #191919;
  --c-fg: #fff;
  --c-border: #2b2b2b;

  --c-anchor-hover-fg: #ffd98c;
  --c-anchor-fg: #d9a36c;
  --c-list-anchor-hover-bg: #333;
  --c-list-anchor-hover-fg: #ffd98c;
  --c-list-anchor-fg: #fff;
  --c-list-header-bg: transparent;
  --c-list-header-fg: #a8a8a8;
  --c-scrollbar-hover: #7a7a7a;
  --c-scrollbar: #4d4d4d;
  --c-main-bg: transparent;
  --c-sidebar-bg: transparent;

  --scrollbar-width: 16px;
}

.steam {
  --c-bg: #24282e;
  --c-fg: #e1e7ef;
  --c-border: #30343b;

  --c-anchor-hover-fg: #e1e7ef;
  --c-anchor-fg: #fff;
  --c-list-anchor-hover-bg: #323a4a;
  --c-list-anchor-hover-fg: #fff;
  --c-list-anchor-fg: #e1e7ef;
  --c-list-header-bg: #292f3a;
  --c-list-header-fg: #cae5fa;
  --c-scrollbar-hover: #7b8391;
  --c-scrollbar: #606773;

  --scrollbar-width: 12px;
}

.discord {
  --c-bg: #2b2d31;
  --c-fg: #e1e7ef;
  --c-border: #2b2d31;

  --c-anchor-hover-fg: #e1e7ef;
  --c-anchor-fg: #fff;
  --c-list-anchor-hover-bg: #35373c;
  --c-list-anchor-hover-fg: #fafafa;
  --c-list-anchor-fg: #949ba4;
  --c-list-header-bg: transparent;
  --c-list-header-fg: #a5adb8;
  --c-scrollbar-hover: #212326;
  --c-scrollbar: #1a1b1e;
  --c-main-bg: #313338;
}
