:root {
  --c-background: #191919;
  --c-border: #2b2b2b;
  --c-foreground: #fff;
  --c-selected: #333;

  --c-anchor-hover: #ffd98c;
  --c-anchor: #d9a36c;
  --c-list-anchor-hover: #ffd98c;
  --c-list-anchor: #fff;
  --c-header-bg: transparent;
  --c-header-fg: #a8a8a8;
  --c-scrollbar: #333;
  --c-scrollbar-hover: #444;

  --scrollbar-width: 16px;
}

.steam {
  --c-background: #24282e;
  --c-border: #30343b;
  --c-foreground: #e1e7ef;
  --c-selected: #323a4a;

  --c-anchor-hover: #e1e7ef;
  --c-anchor: #fff;
  --c-list-anchor-hover: #fff;
  --c-list-anchor: #e1e7ef;
  --c-header-bg: #292f3a;
  --c-header-fg: #cae5fa;
  --c-scrollbar: #606773;
  --c-scrollbar-hover: #7b8391;

  --scrollbar-width: 12px;
}
